// -----------------------------------------------------------------------------
// This file contains all styles related to the contributors and discussions section.
// -----------------------------------------------------------------------------

.contributors-discussions {
  display: grid;
  grid-template-columns: 5fr 5fr;
  column-gap: 30px;
  padding-bottom: 50px;

  .h3 {
    margin-bottom: 25px;
  }

  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.contributors {
  ul {
    display: flex;
    flex-flow: row wrap;
    gap: 15px 8px;

    li {
      flex-grow: 1;
      flex-basis: calc(100% / 2 - 8px);
      min-width: max-content;

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--background-secondary);

        img {
          width: 50px;
        }

        p {
          margin-left: 20px;

          @media (max-width: 1199.98px) {
            margin-left: 10px;
          }

          @media (max-width: 575.98px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.discussions {
  ul {
    padding-left: 15px;

    li {
      margin-bottom: 10px;

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          margin-right: 12px;
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
